.contactList {
  padding: 0;
}

.contactList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete {
  border: 0;
  border-radius: 25px;
  transition: 0.5s;
  height: 25px;
  width: 25%;
}

.delete:hover {
  background-color: red;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
